<html>
    <title>
        code
    </title>
    <body>
        <%if(data){%> 
            <div class="text-center">
            <h5>Made Your Scan QRCode</h5>
            <!-- <div style="max-width: 100vh;"><%=data%></div> -->
            <img src="<%=data%>" alt="" style="width:200px; height:200px;">
            </div>
            <%}%>
    </body>
</html>