<html>
    <title>QR</title>
    <body>
        <form action='/' method="POST">
            <input type="text" placeholder="Enter Data" name="data">
            <div><input type="submit" value="Enter"></div>
        </form>
    </body>
</html>
